### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [26]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(50)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
30,30,Bobby Harris,M,9th,Huang High School,94,99,0,District,2917,1910635
31,31,Brian Fernandez,M,10th,Huang High School,97,65,0,District,2917,1910635
32,32,Candace Phelps,F,11th,Huang High School,93,90,0,District,2917,1910635
33,33,Amy Gonzalez,F,12th,Huang High School,95,68,0,District,2917,1910635
34,34,Steven Green,M,11th,Huang High School,65,74,0,District,2917,1910635
35,35,Benjamin Carlson,M,10th,Huang High School,99,61,0,District,2917,1910635
36,36,Kevin Bailey,M,10th,Huang High School,76,76,0,District,2917,1910635
37,37,Jesse Newton,M,10th,Huang High School,63,66,0,District,2917,1910635
38,38,Kimberly Mercado,F,12th,Huang High School,73,77,0,District,2917,1910635
39,39,Gregory Roberts,M,9th,Huang High School,80,61,0,District,2917,1910635
40,40,Matthew Mayer,M,9th,Huang High School,79,69,0,District,2917,1910635
41,41,Jennifer Parks,F,11th,Huang High School,85,95,0,District,2917,1910635
42,42,John Carlson,M,9th,Huang High School,65,89,0,District,2917,1910635
43,43,Megan Roberts,F,9th,Huang High School,66,90,0,District,2917,1910635
44,44,Debra Flores,F,10th,Huang High School,75,66,0,District,2917,1910635
45,45,Heidi Jackson,F,11th,Huang High School,64,93,0,District,2917,1910635
46,46,Denise Bradford,F,12th,Huang High School,73,59,0,District,2917,1910635
47,47,Ellen Brown,F,11th,Huang High School,77,81,0,District,2917,1910635
48,48,Amy Perkins,F,9th,Huang High School,76,66,0,District,2917,1910635
49,49,Natalie Mitchell,F,10th,Huang High School,73,93,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [78]:
total_number_schools_list=school_data_complete["school_name"].unique()

total_number_schools=school_data_complete["school_name"].nunique()

total_number_students=school_data_complete["Student ID"].count()
total_number_students

budget=school_data_complete["budget"].unique()
total_budget=budget.sum()
total_budget

avg_mth=school_data_complete["math_score"].mean()
avg_mth

avg_reading=school_data_complete["reading_score"].mean()
avg_reading

passing_math=school_data_complete.loc[school_data_complete["math_score"]>=70]
passing_math_count=passing_math.count()
percent_passing_math=(passing_math_count/total_number_students)*100
percent_passing_math

passing_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70]
passing_reading_count=passing_reading.count()
percent_passing_reading=(passing_reading_count/total_number_students)*100
percent_passing_reading

overall_passing_rate=(avg_reading+avg_mth)/2
overall_passing_rate
district_summary_df=pd.DataFrame({
    "Total Schools":[total_number_schools],
    "Total Students":[total_number_students],
    "Total Budget($)":[total_budget],
    "Average Math Score":[avg_mth],
    "Average Reading Score":[avg_reading],
    "Percent Passing Math (%)":[percent_passing_math],
    "Percent Passing Reading (%)":[percent_passing_reading],
    "Percent Overall Passing Rate (%)":[overall_passing_rate]
})
district_summary_df

,Total Schools,Total Students,Total Budget($),Average Math Score,Average Reading Score,Percent Passing Math (%),Percent Passing Reading (%),Percent Overall Passing Rate (%)
0,15,39170,24649428,78.985371,81.87784,Student ID 74.980853 student_name 74...,Student ID 85.805463 student_name 85...,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [142]:
school_data_complete["passing_math"]=school_data_complete["math_score"]>=70
school_data_complete["passing_reading"]=school_data_complete["reading_score"]>=70
new_school_data=school_data_complete.groupby(["school_name"]).mean()
new_school_data.head()

new_school_data = pd.merge(new_school_data, school_data, how="left", on=["school_name", "school_name"])


new_school_data.head()

del new_school_data["School ID_x"]
del new_school_data["School ID_y"]
del new_school_data["Student ID"]
del new_school_data["budget_y"]
del new_school_data["size_y"]

new_school_data.head()

percent_budget=new_school_data["budget_x"]/new_school_data["size_x"]
percent_budget.head()

new_school_data["Per Student Budget"]=percent_budget

new_school_data.head()

new_school_data["Percent Passing Math(%)"]=new_school_data["passing_math"]*100

new_school_data.head()
new_school_data["Percent Passing Reading(%)"]=new_school_data["passing_reading"]*100
new_school_data.head()

del new_school_data["passing_math"]
new_school_data.head()

del new_school_data["passing_reading"]
new_school_data.head()

new_school_data["Percent Overall Passing Rate (%)"]=(new_school_data["Percent Passing Reading(%)"]+new_school_data["Percent Passing Math(%)"])/2
new_school_data.head()

new_school_data_df=pd.DataFrame({"School Name":  new_school_data["school_name"],
                                "School Type": new_school_data["type"],
                                "Total Students":new_school_data["size_x"],
                                "Total School Budget": new_school_data["budget_x"],
                                "Per Student Budget":new_school_data["Per Student Budget"],
                                "Average Math Score":new_school_data["math_score"],
                                "Average Reading Score":new_school_data["reading_score"],
                                "Percent Passing Math(%)":new_school_data["Percent Passing Math(%)"],
                                "Percent Passing Reading (%)":new_school_data["Percent Passing Reading(%)"],
                                "Percent Overall Passing Rate (%)":new_school_data["Percent Overall Passing Rate (%)"]
                                  })
new_school_data_df.head()


revised_nsdf=new_school_data_df.set_index("School Name")
revised_nsdf.head()

top_performing=revised_nsdf.sort_values(["Percent Overall Passing Rate (%)"],ascending=False)
top_performing.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math(%),Percent Passing Reading (%),Percent Overall Passing Rate (%)
School Name,,,,,,,,,
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [130]:
bottom_performing=revised_nsdf.sort_values("Percent Overall Passing Rate (%)",ascending=True)
bottom_performing.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math(%),Percent Passing Reading (%),Percent Overall Passing Rate (%)
School Name,,,,,,,,,
Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [137]:
ninth=  school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["math_score"]
tenth =  school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["math_score"]
eleventh =  school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["math_score"]
twelveth=  school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["math_score"]

per_grade_math_df=pd.DataFrame({"9th":ninth,
                               "10th":tenth,
                               "11th":eleventh,
                               "12th":twelveth})

per_grade_math_df.head()

                            9th       10th       11th       12th
school_name
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [138]:
ninth=  school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["reading_score"]
tenth =  school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["reading_score"]
eleventh =  school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["reading_score"]
twelveth=  school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["reading_score"]

per_grade_reading_df=pd.DataFrame({"9th":ninth,
                               "10th":tenth,
                               "11th":eleventh,
                               "12th":twelveth})

per_grade_reading_df.head()

                            9th       10th       11th       12th
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [145]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [150]:
spending_df=revised_nsdf
spending_df.head()

spending_df["School Spending"]=pd.cut(spending_df["Per Student Budget"],spending_bins,labels=group_names)

spending_df.head()

spending_df=spending_df.set_index("School Spending")
spending_df.head()

del spending_df["School Type"]
del spending_df["Total Students"]
del spending_df["Per Student Budget"]
del spending_df["Total School Budget"]
spending_df.head()

,Average Math Score,Average Reading Score,Percent Passing Math(%),Percent Passing Reading (%),Percent Overall Passing Rate (%)
School Spending,,,,,
$615-645,77.048432,81.033963,66.680064,81.933280,74.306672
<$585,83.061895,83.975780,94.133477,97.039828,95.586652
$615-645,76.711767,81.158020,65.988471,80.739234,73.363852
$615-645,77.102592,80.746258,68.309602,79.299014,73.804308
$615-645,83.351499,83.816757,93.392371,97.138965,95.265668

## Scores by School Size

* Perform the same operations as above, based on school size.

In [151]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [159]:
school_size_df=revised_nsdf
school_size_df["School Size"]=pd.cut(school_size_df["Total Students"],size_bins,labels=group_names)
school_size_df=school_size_df.set_index("School Size")

del school_size_df["School Type"]
del school_size_df["Total Students"]
del school_size_df["Per Student Budget"]
del school_size_df["Total School Budget"]

school_size_df.head()

,Average Math Score,Average Reading Score,Percent Passing Math(%),Percent Passing Reading (%),Percent Overall Passing Rate (%),School Spending
School Size,,,,,,
Large (2000-5000),77.048432,81.033963,66.680064,81.933280,74.306672,$615-645
Medium (1000-2000),83.061895,83.975780,94.133477,97.039828,95.586652,<$585
Large (2000-5000),76.711767,81.158020,65.988471,80.739234,73.363852,$615-645
Large (2000-5000),77.102592,80.746258,68.309602,79.299014,73.804308,$615-645
Medium (1000-2000),83.351499,83.816757,93.392371,97.138965,95.265668,$615-645

## Scores by School Type

* Perform the same operations as above, based on school type.

In [166]:
school_type_df=revised_nsdf.groupby("School Type").mean()
del school_type_df["Total Students"]
del school_type_df["Total School Budget"]
del school_type_df["Per Student Budget"]
school_type_df.head()

,Average Math Score,Average Reading Score,Percent Passing Math(%),Percent Passing Reading (%),Percent Overall Passing Rate (%)
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757